name: Test Spac
on:
  pull_request:
  push:
    branches:
      - master
      - "*"
env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    steps:
    - name: Setup ROS 2
      uses: ros-tooling/setup-ros@0.0.15
      with:
        required-ros-distributions: humble
    - name: Run Tests
      uses: ros-tooling/action-ros-ci@0.0.13
      with:
        package-name: spac
    - name: Upload Logs-
      uses: actions/upload-artifact@v1
      with:
        name: colcon-logs
        path: ros_ws/log
      if: always()